.card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}


.productos {
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-imagen {
  width: 200px;
  height: 400px;
  background-color: red;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}


.rojo {
  color: red
}
